body, html{
   height: 100%;
}

ul{
   list-style: none;
}

.object-fit{
   object-fit: contain;
}

/* h1 {
    color: #092D74;
} */
.offcanvas-body .card .card-body .card-img-bottom{
   max-height: 253px;
}

.card-header{
   background-color: #092D74 !important;
   color: white !important;
}

li .card:hover{
   cursor: pointer;
   box-shadow: #092D74 0px 0px 2px 3px;
}

li .card .card-body .card-img-bottom{
   max-height: 253px;
}

.card-footer .btn-ctr-bleu{
   background-color: #092D74;
   color: white;
}

.card-footer .btn-ctr-bleu:hover, .text-departement{
   background-color: white;
   color: #092D74;
   border-color: #092D74;
}

.text-departement{
   color: #092D74;
   border: solid 2px #092D74;
   font-weight: 500;
}

#btnChoixSondage{
   border-bottom-right-radius: 0;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

#btnWebDisable{
   text-decoration-line: none;
   color: darkgray;
}

#confirmSupp{
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
   border-top-right-radius: 0;

}

